@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    
    font-family: "Oswald", sans-serif;
}

body {
   
    background: linear-gradient(135deg, #6a0dad, #8e44ad, #b266ff);
    background-size: cover;
    
}

.forgot-password a{
    color: rgb(221, 95, 246);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px ;
    padding: 40px;
    transform: translate(-50% , -50%);
    background-color: rgba(67, 30, 2, 0.589);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.107);
    box-sizing: border-box;
    border-radius: 2em;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 0 20px;
    font-size: 20px;
    color: white;
    pointer-events: none;
    transition: 0.5s ease;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 14px;
}

.btn-log{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 40px;
    margin-left: 5px;
    letter-spacing: 4px ;
    border:  2px solid white;
    justify-content: center;
}

.btn-log:hover{
    background-color: transparent;
    color: white;

}

.remember{
    color: white;
}


/* Contenedor del formulario */
.register-container {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(67, 30, 2, 0.589);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.107);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

/* Encabezado */
header {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px 0 30px 0;
}

/* Estilos para "Ya tienes una cuenta?" */
.top span {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.top span a {
    font-weight: 500;
    color: white;
    margin-left: 30px;
    text-align: center;
}

/* Campos de entrada */
.user-box {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}


.user-box input {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: 0.2s ease;
    text-align: center;
    max-width: 500px;
}

/* Placeholder en color blanco */
.user-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Íconos dentro de los inputs */
.user-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}


/* Efecto hover en inputs */
.user-box input:hover,
.user-box input:focus {
    background: rgba(255, 255, 255, 0.25);
}


/* Botón de registro */

/*.login-box form a{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: black;
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 50px;
    letter-spacing: 4px ;
    border:  2px solid white;
}

.login-box a:hover{
    background-color: transparent;
    color: white;
}*/

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 20px;
}	

.btn-register{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 40px;
    margin-left: 5px;
    letter-spacing: 4px ;
    border:  2px solid white;
    justify-content: center;
}

.btn-register:hover{
    background-color: transparent;
    color: white;

}


/* "Remember me" y "Términos" */
.two-col {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    align-items: center;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: white;
}

.two label a:hover {
    text-decoration: underline;
}

 @media (max-width: 400px) {
    .login-box {
        width: 90%;
        padding: 20px;
    }

    .register-container {
        width: 90%;
        padding: 10px;
        height: 90%;
    }

    header {
        font-size: 20px;
    }

    span, a{
        font-size: 15px;
    }

    .top{
        margin-top: 10px;
    }

    .user-box input {
        font-size: 16px;
        height: 45px;
    }

    .one, .two{
        margin-top: -5px;
    }
    
 }

 @media (min-width: 1024px) {
    .register-container {
        max-width: 600px;
        padding: 40px;
    }

    .input-field {
        font-size: 1em;
    }

    .btn-register {
        font-size: 1em;
    }
}

@media (max-width: 1024px) and (min-width: 767px) {
    .register-container {
        max-width: 90%;
        padding: 25px;
    }

    .login-box {
        width: 600px;
        height: 650px;
        padding: 20px;
    }

    .input-field {
        font-size: 0.95em;
    }

    .btn-register {
        font-size: 0.95em;
    }

    .two-col {
        flex-direction: column;
        gap: 10px;
    }

    .login-box .user-box label {
        
        font-size: x-large;
        margin-left: 20px;
    }

    .top span{
        font-size: 35px;
    }

    .top header{
        font-size: 50px;
    }

    .forgot-password a{
        font-size: 30px;
    }

    .remember label{
        font-size: 25px;
    }
}

@media (max-width: 670px) and (min-width: 500px) {

    body{
        height: 550px;
    }

    .register-container {
        max-width: 95%;
        margin: 20px auto;
        padding: 20px;
        margin-top: 180px;
    }

    .input-field {
        font-size: 0.9em;
        padding-left: 30px;
    }

    .user-box i {
        font-size: 16px;
        top: 11px;
    }

    .btn-register {
        width: 100%;
        font-size: 0.95em;
        padding: 10px;
    }

    .two-col {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-size: 0.85em;
    }

    .top span, .top header {
        font-size: 1em;
    }

    .login-box {
        width: 90%;
        height: 500px;
        margin-top: 80px;
    }

    .user-box label {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .login-box button{
        margin-left: 100px;
    }

     .login-box .user-box label {
        
        font-size: x-large;
        margin-left: 20px;
    }

    .top span{
        font-size: 20px;
    }

    .top header{
        font-size: 30px;
        padding: 0;
    }

    .forgot-password a{
        font-size: 20px;
    }

    .remember label{
        font-size: 15px;
        padding: 5px;
    }

    .register-container{
        height: 620px;
    }
}

